<body>
    <div>
        <h1>Teinor</h1>
        <h3>Technical test</h3>
    </div>
    <div>
        <input id="add" name="addFilm" type="submit" value="Add" class="" />
        <form id="sendFilm" role="form" action="?ctl=add&act=film" method="POST" style="display: none;">
            <input id="titleFilm" name="titleFilm" type="text" class="" />
            <input id="yearFilm" name="yearFilm" type="text" class=""  autocomplete="off"/>
            <button name="sendFilm" type="submit" class="">Send</button>
        </form>
    </div>
    <script>
    $( function() {
      $( "#yearFilm" ).datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy',
            onClose: function(dateText, inst) { 
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
      });
    } );
  </script>

